<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCrkkUYDfNjYrmq7Ed0OHkNwbUfCl_ZDKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>850571346681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>utcs.RamaswamyAditya-HW5</string>
	<key>PROJECT_ID</key>
	<string>hw6-pizza-f882f</string>
	<key>STORAGE_BUCKET</key>
	<string>hw6-pizza-f882f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850571346681:ios:40cfb687c0e9250b645828</string>
</dict>
</plist>